.hidden {
    display: none;
}
/*
.ui-sortable-helper {
    color:red;
    width:1140px;
    height:40px;
    position: relative !important;
    z-index: 1000;
    left:301px;
    top: 256px;
}     */
.color-block span{
    display:inline-block;
    width:15px;
    height:15px;
    float:left;
    margin:2px 0 0
}