.jssora05l, .jssora05r {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url("img/a12.png") no-repeat;
    overflow: hidden;
}
.jssora05l { background-position: -10px -40px; }
.jssora05r { background-position: -70px -40px; }
.jssora05l:hover { background-position: -130px -40px; }
.jssora05r:hover { background-position: -190px -40px; }
.jssora05l.jssora05ldn { background-position: -250px -40px; }
.jssora05r.jssora05rdn { background-position: -310px -40px; }


.jssort01 {
    position: absolute;
    width: 1000px;
    height: 100px;
}

.jssort01 .p {
    position: absolute;
    top: 0;
    left: 0;
    width: 72px;
    height: 72px;
}

.jssort01 .t {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.jssort01 .w {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.jssort01 .c {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 68px;
    height: 68px;
    border: #000 2px solid;
    box-sizing: content-box;
    background: url("img/t01.png") -1000px -400px no-repeat;
    _background: none;
}

.jssort01 .pav .c {
    top: 2px;
    _top: 0px;
    left: 2px;
    _left: 0px;
    width: 68px;
    height: 68px;
    border: #000 0px solid;
    _border: #fff 2px solid;
    background-position: 50% 50%;
}

.jssort01 .p:hover .c {
    top: 0px;
    left: 0px;
    width: 70px;
    height: 70px;
    border: #fff 1px solid;
    background-position: 50% 50%;
}

.jssort01 .p.pdn .c {
    background-position: 50% 50%;
    width: 68px;
    height: 68px;
    border: #000 2px solid;
}

.slider1_container_loading {
    position: absolute;
    display: block;
    background: url("img/loading.gif") no-repeat center center;
    top: 0px;
    left: 0px;
    width: 100%;
    height:100%;
}

* html .jssort01 .c, * html .jssort01 .pdn .c, * html .jssort01 .pav .c {
    /* ie quirks mode adjust */
    width /**/: 72px;
    height /**/: 72px;
}

.profile-alboms-list {
    cursor: move;
    position: absolute;
    left: 0px;
    top: -16px;
    width: 1000px;
    height: 400px;
    overflow: hidden;
}

.captionOrange, .captionBlack
{
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
}
.captionOrange
{
    background: #f0f0f0;
    background-color: rgba(234, 228, 240, 0.6);
}
.captionBlack
{
    font-size:16px;
    background: #000;
    background-color: rgba(0, 0, 0, 0.4);
}
a.captionOrange, A.captionOrange:active, A.captionOrange:visited
{
    color: #f00ec4;
    text-decoration: none;
}

a.captionOrange:hover
{
    color: #f0f0f0;
    text-decoration: underline;
    background-color: #eeeeee;
    background-color: rgba(238, 238, 238, 0.7);
}

.slide-full-link:hover, .slide-full-link:focus
{
    color: #f00ec4;
}

.curr-poss-img {
    position:absolute;
    left:20px;
    top: 30px;
    width:300px;
    height:30px;
}

.loading-slading-main {
    position: absolute;
    top: 0px;
    left: 0px;
}

.loading-slading-inner1 {
    filter: alpha(opacity=70);
    opacity:0.7;
    position: absolute;
    display: block;
    background-color: #000000;
    top: 0px;
    left: 0px;
    width: 100%;
    height:100%;
}

.the-arrowleft {
    top: 158px;
    left: 8px;
}

.the-arrowright {
    top: 158px;
    right: 8px
}

.the-thumbnavigator {
    left: 0px;
    bottom: 0px;
}

.thumb-list {
    cursor: default;
}

.main-slider-container-user-profile {
    position: relative;
    top: 0px;
    left: 0px;
    width: 1000px;
    margin: 20px auto;
    height: 476px;
    background: #191919;
    overflow: hidden;
}