html {
    height: 100%}
h1, ul {
    padding: 0;
    margin: 0;
}
a, h1 {
    color: #000;
}
.form-heading h3, .navbar-brand, h1, label {
    text-transform: uppercase;
}
.calendar-submit-button, .page-header h3, .tab-navigation, .user-photos ul li {
    float: left;
}
.user-photos ul, ul {
    list-style: none;
}
h1, h2, h3, h4 {
    margin-top: 0;
}
body {
    height: 100%;
    background: #f0f0f0;
    padding: 50px 0 0;
    color: #666;
    font-family: Arial, Helvetica;
}
h1 {
    font: 700 30px/34px Arial, Helvetica;
}
label {
    font-weight: 400;
}
a:focus, a:hover {
    color: #ff0084;
    text-decoration: none;
    outline: 0;
}
input[type=checkbox]:focus {
    outline: 0;
}
.container {
    background: #fff;
    padding-bottom: 30px;
    margin-top:  40px;
}
#wrap {
    width: 100%;
    height: 100%;
    display: table;
    margin: 0 auto;
    table-layout:  fixed;
}
.page-header {
    padding: 20px 0 0;
    border-bottom: 2px solid #000;
}
.btn-submit, .profile .no-border {
    border: none;
}
.form-horizontal {
    width: 75%;
    margin: 0 auto;
}
.form-horizontal .control-label {
    text-align: left;
    display: block;
}
.form-group {
    text-align: left;
    color: #666;
    margin: 30px 0;
}
.form-info {
    font-size: 11px;
}
.pull-right {
    margin-left: 5px;
}
.form-heading h3 {
    color: #000;
    border-bottom: 2px solid #000;
    font: 700 16px/21px Arial, Helvetica;
}
.photo-info {
    padding: 12px 16px 14px;
    font-size: 11px;
    border: 1px solid rgba(0, 0, 0, .1);
    background: #fafafa;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    min-height: 140px;
    margin:  0 0 20px 0;
}
.photo-event-info {
    min-height: 130px;
}
.profile .photo-info {
    min-height: 83px;
}
.table>thead>tr>th {
    vertical-align: top;
}
.vk-icon {
    width: 16px;
    height: 16px;
}
.vk-link {
    line-height: 16px;
}
.menu {
    font-size: 14px;
}
.item {
    margin: 20px 0;
}
.btn {
    display: inline-block;
}
.btn-submit {
    background: #ff0084;
    color: #fff;
    border-radius: 0;
    font-size: 15px;
    font-family: Calibri, Arial, sans-serif;
}
.helper-section {
    position:  fixed;
    top: 153px;
    right: 50px;
    z-index: 1;
}
.helper-container {
    width:  225px;
    border-radius:  5px;
    font-size:  13px;
    height:  86px;
    background:  #837b7e;
    color: #fff;
}
.helper-container p  {
    padding: 11px 0 0 0;
    margin: 0 0 0 65px;
    line-height: 20px;
    color:  #fff;
}
.helper-container a  {
    color: #fff;
    text-decoration: underline;
}
.helper-logo {
    text-align: center;
    position: absolute;
    left: -38px;
    bottom: -3px;
    line-height: 92px;
    background: #fff;
    width:  92px;
    height: 92px;
    border-radius: 50%;
}
.helper-logo img {
    width: auto;
}
.language-section {
    position: absolute;
    top: 100px;
    right:20%;
    z-index: 1;
}

.language-section li {
    width: 60px;
    height:40px;
    margin: 5px auto;
    text-align: center;
    vertical-align: middle;
}

.language-section li a:not(.active) {
    display: none;
}
.language-section li a {
    display: block;
    background: rgba(130, 124, 125, 0.75);
    line-height: 40px;
    height: 40px;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
}
.language-section li a.show-language {
    display: block;
}
.language-section li a .fa {
    font-size: 10px;
    line-height: 40px;
    margin: -1px 9px -22px -13px;
    float: right;
}
.btn-submit:focus, .btn-submit:hover {
    background: #8b0d4e;
    color: #fff;
}
.tab-navigation .nav-tabs {
    border: none;
}
.tab-navigation .nav-tabs>li>a {
    border: 2px solid #000;
    border-radius: 0;
    color: #000;
}
.tab-navigation .nav-tabs>li.active>a {
    color: #fff;
    background: #ff0084;
}
.tab-navigation .nav-tabs>li.active>a:focus, .tab-navigation .nav-tabs>li.active>a:hover {
    border: 2px solid #000;
}
.navbar {
    background: #000;
    padding: 15px 0;
}
.navbar-content {
    margin: 0 20px;
}
.nav>li>a {
    padding: 7px 10px;
    color: #fff;
}
.nav>li>a:focus, .nav>li>a:hover {
    background: 0 0;
    color: #ff0084;
}
.nav>.active a:hover, .navbar-brand, .navbar-brand:hover {
    color: #fff;
}
.nav>.active a {
    border: 2px solid #fff;
}
.navbar-nav>li {
    margin: 0 0 0 20px;
    font-size: 14px;
}
.navbar-toggle {
    padding: 0;
}
.navbar-brand {
    padding: 7px 10px;
    height: auto;
    margin: 0 30px 0 0;
    font-size: 21px;
    font-family: Magneto;
}
.mobile-navigation {
    position:  fixed;
    top:  24px;
    right: 44px;
    z-index:  500;
    padding:  15px;
    background:  #000;
    color:  #fff;
}
.mobile-navigation ul>li  {
    list-style:  none;
}
.mobile-navigation ul>li>a {
    color: #fff;
}
.mobile-navigationBtn  {
    position:  fixed;
    top:  10px;
    right:  10px;
    z-index:  556;
}
.sign-menu {
    padding: 8px 4px 4px 8px;
    background: #212121;
}
.sign-menu>li {
    margin: 0 5px 0 0;
}
.carousel-inner>.item, .sign-menu>li:last-child {
    margin: 0;
}
.sign-menu>li>a, .sign-menu>li>span {
    font-size: 11px;
    padding: 0 8px;
    color: #fff;
}
.sign-menu>li>span {
    line-height: 20px;
}
.sign-menu>li>a:hover {
    color: #ff0084;
}
.sign-menu .active a {
    border: 1px solid #ccc;
}
.sign-menu>li>a>.fa {
    color: #305D9A;
    line-height: 20px;
    font-size: 2em;
}
.icon-bar {
    background: #fff;
}
.menu_login {
    color: #fff;
    padding: 7px 10px;
}
.submit-block a {
    font-size: 11px;
}
.profile-image {
    height: 180px;
}
.content-image {
    height: 260px;
}
.main-image {
    height: 500px;
}
.option-block label {
    text-transform: none;
    font-size: 11px;
}
.welcome-box {
    text-align: center;
    padding: 20px 0;
}
#calendar {
    margin: 50px 0 0;
}
.controls-row {
    padding: 0 0 20px;
    border-bottom: 1px solid #000;
}
.calendar-color-block {
    font-size: 13px;
}
.calendar-color-block span {
    display: inline-block;
    width: 15px;
    height: 15px;
    float: left;
    margin: 2px 0 0;
}
.photo-main {
    width: 100%;
    height: 500px;
}
.event-content {
    margin-top: 50px;
}
.event-content h3 {
    font: 700 16px/21px Arial, Helvetica;
    color: #000;
    padding: 0 0 5px;
    border-bottom: 2px solid #000;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.event-content .no-border {
    border: 0;
}
.event-content b {
    color: #000;
}
.event-content .button-setting .btn-submit {
    width: 100%;
    margin: 20px 0 0;
}
.line-info>.btn-submit {
    margin: 5px 0 0;
}
.info-message {
    padding: 50px 0 0;
    font-size: 21px;
    color: #ff0084;
}
.invitations-message {
    font-size: 21px;
    color: #ff0084;
    padding: 20px 0 0;
}
.event-description {
    margin: 40px 0 0;
}
.profession-row {
    margin: 0;
}
.form-content, .group-content, .report-content, .tab-content, .user-content {
    margin-top: 75px;
}
.group-content .comment-text h4 {
    color: #000;
}
.report-content .content-header {
    padding: 10px 0;
}
.group-content h3, .report-content h3, .team-content h3 {
    font: 700 16px/21px Arial, Helvetica;
    color: #000;
    padding: 0 0 5px;
    border-bottom: 2px solid #000;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.report-content h4, .team-content h4 {
    font: 700 14px Arial, Helvetica;
    color: #000;
    padding: 0 0 5px;
    text-transform: none;
}
.group-content b, .report-content b, .team-content b {
    color: #000;
}
.group-content .group-description, .report-content .report-description, .team-content .group-description {
    margin: 40px 0 0;
}
.group-content .add-comment, .report-content .add-comment, .team-content .add-comment {
    margin-top: 40px;
}
.group-content .form-group, .report-content .form-group, .team-content .form-group {
    margin: 30px -15px;
}
.group-content .comment-text, .report-content .comment-text, .team-content .comment-text {
    padding: 20px 15px;
    text-align: justify;
}
.img-thumbnail.comment-img {
    width: 200px;
}
.group-content .no-border, .report-content .no-border, .team-content .no-border {
    border: 0;
}
.group-content span, .report-content span, .team-content span {
    font-size: 11px;
}
.content-header {
    padding: 70px 0 0;
}
.content-header .btn {
    width: 100%;
    font-size: 18px;
}
.content-header p {
    margin: 0;
    font-size: 11px;
    text-align: right;
    padding: 11px 0 0 15px;
}
.gallery-item {
    margin: 20px 0;
}
.gallery-item .photo-info {
    padding: 12px 16px 14px;
    font-size: 11px;
    border: 1px solid rgba(0, 0, 0, .1);
    background: #fafafa;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.gallery-item .photo-album img {
    width: 100%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.photo-album {
    background: #f0f0f0;
}
.checkboxCustom, .group-album .deleteUser {
    position: absolute;
    display: none;
    width: 90%;
    background: rgba(32, 31, 31, .6);
    padding: 5px 0;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    color: #fff;
}
.checkboxCustom {
    top: 20px;
}
.group-album .deleteUser {
    top: 0;
    text-align: right;
}
.group-album .deleteUser a {
    color: #fff;
    font-size: 12px;
    margin: 0 10px;
}
.group-album:hover .deleteUser {
    display: block;
}
.checkboxCustom-head {
    top: 0;
}
.checkboxCustom>.makeDelete {
    text-align: right;
    padding: 0 5px 0 0;
}
.checkbox-label {
    font-size: 11px;
    text-transform: none;
    display: inline-block;
    vertical-align: middle;
}
.alert {
    margin-top: 35px;
}
.removeImageCheckbox {
    -webkit-appearance: none;
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid rgba(255, 255, 255, 1);
    outline: 0;
    margin: 5px;
    box-sizing: border-box;
    background: #fff;
}
.removeImageCheckbox:checked:before {
    content: "";
    display: block;
    width: 7px;
    height: 16px;
    border: 0 solid #ff0084;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotateZ(45deg);
    margin: -6px 5px;
    pointer-events: none;
}
.remind-block {
    font-size: 21px;
    color: #ff0084;
}
.main-page {
    text-align: left;
}
.main-page .list {
    padding: 30px 0;
}
.main-page .item {
    padding-top: 20px;
}
.item .block-info {
    margin-top: 15px;
    color: #000000;
    font:  15px Calibri;
}
.item .block-info span {
    font:  15px Calibri;
    color: #929292;
}
.main-page .photo-info {
    padding: 12px 16px 14px;
    font-size: 11px;
    border: 1px solid rgba(0, 0, 0, .1);
    background: #fafafa;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.main-page h3, .profile h3 {
    border-bottom: 2px solid #000;
    font: 700 16px/21px Arial, Helvetica;
    color: #000;
    text-transform: uppercase;
}
.main-page img {
    width: 100%;
    height: 260px;
}
.calendar-modal .calendar-reserve-date {
    padding: 10px 15px;
    height: 40px;
}
.calendar-modal .calendar-reserve-date select {
    width: 100%}
.show-profile {
    text-align: justify;
}
.show-profile .pull-right .btn-submit {
    width: auto;
}
.profile .btn-submit {
    width: 120px;
    padding: 4px 12px;
}
.search-user {
    font-size: 11px;
}
.well .search-group-heading {
    margin: 0 0 10px 15px;
}
.search-block {
    color: #000;
}
.group-search-block {
    width:  1140px;
    margin: 0 15px 15px;
}
.search-block>.well {
    height: 300px;
}
.search-block .btn-submit {
    margin-top: 10px;
}
.search-user .radio label {
    line-height: 21px;
}
.search-user .radio {
    margin: 0 0 5px;
}
.search-user .glyphicon {
    margin: 0 0 10px;
}
.search-user h4 {
    color: #000;
}
#RepeatWeeklyError, .repeat-data-error, .repeat-time-error {
    color: #a94442;
    display: none;
}
.search-user p {
    text-transform: uppercase;
}
img {
    width: 100%}
textarea {
    resize: none;
}
.form-group .prof_checked {
    width: auto;
    height: auto;
}
.form-group .btn-submit, .logo {
    width: 100%}
.calendar-form .date {
    padding: 0 30px 0 0;
}
.tab-content {
    padding-top: 10px;
}
.content-body {
    padding: 20px 0;
}
.content-footer {
    padding: 0;
}
.event-info, .padding-t-20 {
    padding: 20px 0 0;
}
#RemoveImages {
    display: none;
}
.margin-t-20 {
    margin-top: 20px;
}
.margin-t-70 {
    margin-top: 70px;
}
.margin-b-20 {
    margin-bottom: 20px;
}
.text-right {
    text-align: right;
}
#EditRepeatLink, #EditRepeatValueInput, .repeat-data {
    display: none;
}
.main-banner {
    margin:  0 -15px;
}
.main-banner img {
    height:  auto;
}
.one-applicant {
    cursor: pointer;
    margin:  10px 0;
}
.logo {
    height: 310px;
}
.event-detales ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.event-detales p {
    font-weight: 700;
}
.event-detales span {
    font-weight: 400;
}
.repeat-data-error {
    color: #e9322d;
    display: none;
}
.group-description, .text-desctiption {
    text-align: justify;
}
.cropped>img {
    margin-right: 10px;
}
@media screen and (max-width:1520px) {
    .navbar-nav li {
        font-size: 12px;
        margin: 0 5px 0 0;
    }
}@media screen and (max-width: 1288px) {
    .container {
        margin-top: 75px;
    }
}
@media screen and (max-width:1039px)  {
    .container {
        margin-top:  140px;
    }
}
@media screen and (max-width:990px) {
    .pull-right {
        margin: 10px 0 0 5px;
    }
}.notification_bold {
     font-weight: 700;
 }
.hidden-block, .user-chat-msg-list {
    display: none;
}
.del-user-msg {
    float: right;
}
.not-read-message {
    color: #717574;
    background-color: #c0becc;
    border-color: #c8bebe;
}
.red {
    color: red;
}
.messenger {
    width: 70%;
    margin: 0 auto;
}
.messenger .btn-submit:focus {
    outline: 0;
    background: #ff0084;
    color: #fff;
    border: none;
    border-radius: 0;
    font-size: 15px;
}
.messenger textarea {
    width: 100%}
.messenger .messenger-body {
    margin: 30px 0 0;
}
.option-event .btn-submit {
    width: 280px;
    margin: 10px 0;
}
.pay-price {
    margin: 29px 0;
}
#footer {
    width: 100%;
    overflow: hidden;
    display: table-footer-group;
    height: 1%;
    background: #000;
}
#footer .container {
    padding: 35px 0;
    margin: 0 auto;
    background: #000;
    color: #fff;
}
#footer ul>li {
    margin-right: 15px;
}
#footer .container .footer-info-header {
    color: #5d5d5d;
    font-family:  Calibri,  Candara,  Segoe,  'Segoe UI',  Optima,  Arial,  sans-serif;
    font-size:  15px;
}
#footer .container a {
    color: #fff;
    text-align: center;
    font-family:  Calibri,  Candara,  Segoe,  'Segoe UI',  Optima,  Arial,  sans-serif;
}
#footer .container a:hover {
    color: #ff0084;
}
#footer .container ul>li {
    display: inline-block;
    margin: 14px 15px 14px 0;
}
.block-name {
    margin:  0;
    color:  #cb00bd;
    font:  19px  Calibri;
}
.block-name a {
    color:  #cb00bd;
    font:  19px  Calibri;
}
.group-members {
    margin-top: 75px;
}
.has-error .form-control {
    border-color:  red;
}
.has-error .help-block {
    color: red;
}
.has-error .control-label {
    color: red;
}
.has-error .form-control:focus {
    border-color: red;
}
.custom-checkbox-inline {
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    margin-bottom: 0;
    padding-right: 20px;
    vertical-align: middle;
}
.pagination>li>span {
    font-size:  14px;
}
@media screen and (max-width: 767px) {
    .photo-info {
        width:  260px;
        margin:  0 auto;
    }
    .main-page .content-image  {
        width:  260px;
        height:  330px;
        margin:  0 auto;
        display:  block;
    }
    .album-photo  {
        width:  260px;
        height:  330px;
        margin:  0 auto;
    }
    .album-photo img  {
        height: 330px;
    }
    .navbar-fixed-top {
        position:  absolute;
    }
    .navbar-collapse  {
        max-width:  600px;
    }
    .pull-right  {
        float:  none !important;
        text-align:  right;
    }
    #calendar .fc-toolbar .fc-left, #calendar .fc-toolbar .fc-right {
        float:  none;
        margin:  5px 0;
    }
    #calendar button {
        margin:  5px 0;
    }
    #calendar .fc-button-group {
        margin:  0 5px;
    }
    .container  {
        margin-top:  40px;
    }
    .btn-submit  {
        margin:  5px;
    }
    .main-info-menu  {
        margin-top:  60px;
    }
}
@media screen and (max-width: 480px) {
    #wrap {
        width: 100%;
        height: 100%;
        display:  block;
    }
    .tab-navigation {
        float:  none;
        margin-top:  60px;
    }
    .tab-navigation ul li {
        display: block;
        float:  none;
        margin:  15px 0;
    }
    .container {
        margin-top:  30px;
    }
    .content-header p {
        display:  none;
    }
    .page-header h1  {
        font-size:  24px;
        text-align:  center;
    }
    .navbar-brand {
        margin:  0;
    }
    .photo-album {
    .main-info-menu: 50px;
    }
    .photo-main {
        height:  auto;
    }
    #footer {
        display:  block;
        height: auto;
        width:  100%;
    }
    #footer .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}
