.questions .question:not(.show) {
    display: none;
}
.question {
    margin-top: 25px;
    width: 80%;
    line-height: 1.6;
    color: #2e2e2e;
}
.question h3 {
    font: 700 19px/23px Arial,Helvetica;
    margin-bottom: 18px;
    color: #000;
}
.question p {
    margin: 0 0 35px;
}
.question a {
    color: #ff0084;
}
.question a:hover {
    text-decoration: underline;
}

#faq-accordion {
    font-size: 15px;
    border: 1px solid #e5e5e5;
    padding: 11px 0 0 57px;
    margin-right: 23px;
}
#faq-accordion > li {
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}
#faq-accordion > li > a {
    padding: 15px 0 14px;
    display: block;
}
#faq-accordion > li:last-child {
    border-bottom: 0 none;
}
#faq-accordion .faq-icon:not(.faq-icon-arrow) {
    position: absolute;
    left: -42px;
    top: 11px;
}
#faq-accordion .faq-icon-arrow {
    position: absolute;
    right: 16px;
    top: 24px;
}
#faq-accordion [aria-expanded="true"] .faq-icon-arrow {
    transform: rotate(180deg);
    top: 21px;
}
#faq-accordion > li ul {
    margin: -5px 0 19px -55px;
    padding-left: 55px;
}
#faq-accordion li li {
    position: relative;
}
#faq-accordion li.selected:before {
    content: '';
    width: 5px;
    height: 5px;
    background-color: #ff2b91;
    border-radius: 50%;
    position: absolute;
    left: -32px;
    top: 9px;
}
#faq-accordion li li a {
    display: block;
    font-size: 12px;
    padding: 5px 0;
}
#faq-accordion li li:not(.selected) a {
    text-decoration: underline;

}
#faq-accordion li.selected a {
    color: #ff0084;
}
.faq-icon {
    background-image: url(../img/faq-icons.png);
    background-repeat: no-repeat;
    display: block;
}

.faq-icon-album {
    width: 26px;
    height: 18px;
    background-position: -5px -5px;
}

.faq-icon-arrow {
    width: 9px;
    height: 5px;
    background-position: -41px -5px;
}

.faq-icon-auth {
    width: 19px;
    height: 25px;
    background-position: -60px -5px;
}

.faq-icon-calendar {
    width: 23px;
    height: 23px;
    background-position: -5px -40px;
}

.faq-icon-chat {
    width: 22px;
    height: 17px;
    background-position: -38px -40px;
}

.faq-icon-event {
    width: 26px;
    height: 23px;
    background-position: -70px -40px;
}

.faq-icon-eventReport {
    width: 21px;
    height: 26px;
    background-position: -5px -73px;
}

.faq-icon-group {
    width: 25px;
    height: 19px;
    background-position: -36px -73px;
}

.faq-icon-profile {
    width: 27px;
    height: 22px;
    background-position: -71px -73px;
}

.faq-icon-question {
    width: 26px;
    height: 26px;
    background-position: -106px -5px;
}

.faq-icon-reg {
    width: 24px;
    height: 22px;
    background-position: -106px -41px;
}

/*.helper-section .helper-logo a {
    margin: 26px 0 0 0;
    display: block;
}*/

